{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-3">
                <div class="card bg-body-tertiary my-5">
                    <div class="card-body">
                        Sent!
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
